@import '~@sabuhinazarov/node-common/build/styles/utils.scss',
	'../../../assets/styles/colors';

.lang-skills {
	li {
    width: 100%;
    padding: 0.5rem 0;
		@include flex($ai: c, $jc: sb);
		.lang-level {
      color: $lightTextColor;
      font-weight: 300;
		}

		@media print {
			font-size: 0.9rem;
			line-height: 0.9rem;
		}
	}
}
