@import '~@sabuhinazarov/node-common/build/styles/utils.scss', '../../assets/styles/colors';

.hobbies {
    @include flex($ai: c, $jc: sb, $wr: w);
    li {
        padding: 0.5rem 0;
        display: block;
        width: calc(50% - 0.5rem);
    }
}