/** COLORS */
$primaryColor: #1abc9c;
$borderColor: #eee;
// BG
$headerBgColor: #fff;
$cardBgColor: #fff;
$bodyBgColor: #f2f2f2;
$contentBgColor: #fff;
$bgColor: #f3f3f3;
// TEXT
$textColor: #222;
$iconColor: #999;
$lightTextColor: #a7a7a7;